# Set your timezone
TZ=Europe/Sofia
APP_PORT=8080
DB_HOST=localhost
DB_PORT=3306
DB_USER=nullinvoice
DB_PASSWORD=changeme
DB_NAME=nullinvoice
# Set your database connection parameters + timezone as applicable to your environment
DB_PARAMS=?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Europe/Sofia
